<!-- {% if error %}
    <div style="color:red; text-align:center;">
        {{ error }}
    </div>
{% endif %}

{% if job %}
<div style="max-width:600px; margin:auto; padding:20px;">
    <h2 style="text-align:center;">Track Job Status</h2>
    <hr>

    <p><strong>Job ID:</strong> {{ job.name }}</p>
    <p><strong>Customer:</strong> {{ job.customer_name }}</p>
    <p><strong>Device:</strong> {{ job.device_type }} - {{ job.device_brand }}</p>
    <p><strong>Status:</strong> {{ job.status }}</p>
    <p><strong>Final Amount:</strong> ₹ {{ job.final_amount }}</p>
    <p><strong>Payment Status:</strong> {{ job.payment_status }}</p>
    <p><strong>Delivery Date:</strong> {{ job.delivery_date }}</p>
</div>
{% endif %}
 -->

<h1>{{ test_message }}</h1>
