{% extends "templates/web.html" %}

{% block page_content %}

<div class="container" style="max-width:600px; margin-top:60px;">
    
    <h2 style="margin-bottom:20px;">Track Your Job</h2>

    <form method="GET" action="/track-job">
    <div class="form-group">
        <label for="job_id">Select Job ID</label>

        {% set job_cards = frappe.get_list("Job Card", pluck="name",order_by="creation asc") %}

        <select name="job_id" 
                id="job_id" 
                class="form-control" 
                required>
            
            <option value="">-- Select Job Card --</option>

            {% for jc in job_cards %}
                <option value="{{ jc }}">{{ jc }}</option>
            {% endfor %}

        </select>

    </div>

    <button type="submit" class="btn btn-primary">
        Track Job
     </button>
    </form>

    {% if frappe.form_dict.job_id %}
        <hr>

        {% set job = frappe.get_doc("Job Card", frappe.form_dict.job_id) %}

        {% if job %}
            <h4>Job Details</h4>
            <p><strong>Customer:</strong> {{ job.customer_name }}</p>
            <p><strong>Status:</strong> {{ job.status }}</p>
            <p><strong>Payment Status:</strong> {{ job.payment_status }}</p>
            {% set tech = frappe.db.get_value("Technician",job.assigned_technician,"technician_name")%}
            <p><strong>Assigned Technician:</strong> {{  tech}}</p>
            <!-- <p><strong>Parts Total Amount: ₹</strong> {{ frappe.format_value(job.parts_total) }}</p>
            <p><strong>Labour Charge: ₹</strong> {{ frappe.format_value(job.labour_charge) }}</p>
            <p><strong>Total Amount: ₹</strong> {{ frappe.format_value(job.final_amount) }}</p> -->
        {% else %}
            <p style="color:red;">Invalid Job ID</p>
        {% endif %}
    {% endif %}

</div>

{% endblock %}